html,
body {
    zoom: 128.25%;
}

button :hover {
    cursor: pointer;
}

#body_background {
    background-image: url(/abstract_background_template_for_style_design_267606.jpg);
    font-family: 'Shippori Mincho', serif;
}

#logout {
    justify-content: flex-end;
}



#search {
    border: none;
    padding: 0;
    background: none;
}

hr {
    color: black;
    border-width: bold !important;
    border-style: dotted !important;
}


a {
    cursor: pointer;
}

#img1 {
    cursor: pointer;
}

#mic_button {
    border-width: 0px;
    height: 80%;
    width: 100%;
}

.rd:hover {
    cursor: pointer;
}

.rightalign {
    display: inline;
    text-align: center;
}

#bookmarkanchor {
    color: white !important;
    background-color: black !important;
}

.row {
    border-width: 0px;
}

#hr1 {
    background-color: black;
    height: 0.1%;
    border: 0;
}

#searchinput {
    height: 80%;
}

.sbtn {
    background-color: white !important;
    color: black !important;
}

#link1 {
    color: black !important;
}

#clock {
    text-align: center;
}

.left {
    text-align: left;
    display: block !important;
}
